*{
margin: 0;
box-sizing: border-box;
color: whitesmoke;
}
:root{
--main-bg-color: rgb(19, 19, 54);
--second-bg-color: rgb(36, 20, 61);
--button-bg-color: rgb(245, 112, 94);
--main-color: rgb(255, 255, 255);
}
body{
font-family: 'Poppins', serif;
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/poppins-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.fto_logo{
display: flex;
margin-left: 60px;
height: 112px;
width: 250px;
}
.container_header{
background-color: var(--second-bg-color);
height: 112px;
width: 100%;
}
.headline_main{
padding-top: 120px;
background-color: var(--main-bg-color);
text-align: center;
}
h1{
font-size: 56px;
}
main{
height: calc(100dvh - 225px);                 /* add 1px more to hide the scrollbar */
background-color: var(--main-bg-color);
}
.container_main_section{
max-width: 1920px;
margin: 0 auto;
padding-bottom: 24px;
background-color: var(--main-bg-color);
}
.single_img img{
width: 180px;
height: 180px;
object-fit: cover;
border-radius: 16px;
transition: 0.55s ease-out;
}
.single_img img:hover{
transform: scale(1.1);
box-shadow: 0px 0px 10px 5px  rgb(255, 255, 255);
cursor: pointer;
transition: box-shadow 0.10s ease-in;
transition: 0.35s ease-in;
}
.single_img{
border: none;
background-color: var(--main-bg-color);
padding: 16px;
}
#content{
display: flex;
justify-content:center;
align-items: center;
flex-wrap: wrap;
padding: 0px 60px 0px 60px;
height: 720px;
}
.container_footer{
box-shadow: 0px 0px 10px 5px  rgb(176, 100, 247);
margin-top: 1px;
height: 112px;
width: 100%;
background-color: var(--second-bg-color);
}








/* dialog open settings */
dialog[open]{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
width: 800px;
height: 800px;
border: 4px solid white;
border-radius: 15px;
color: black;
background-color: var(--main-bg-color);
top: 50%;
left: 50%;
position: fixed;
translate: -50% -50%;
box-shadow: 0px 0px 10px 5px  rgb(255, 255, 255);
}
dialog h2{
text-align: center;
}
dialog .single_img img{
width: 400px;
height: 400px;
transition: none;
}
dialog .single_img img:hover{
transition: none;
transform: none;
cursor:default;
box-shadow: none;
}
dialog .btns{
background-color: var(--button-bg-color);
width: 40px;
height: 40px;
color: rgb(255, 255, 255);
border: none;
border-radius: 50%;
margin: 5px;
transition: background-color 0.25s;
}
.btns:hover{
border: 3px solid white;
cursor: pointer;
}
dialog::backdrop{
background-color: var(--second-bg-color);
opacity: 0.9;
}
footer .fto_logo{
display: flex;
align-items: center;
justify-content: center;
margin: auto;
}









/* Media Query start */

@media (max-width: 2665px) {
.single_img img {
width: 140px;
height: 140px;
}
}
@media (max-width:1900px){
#content{height: auto;
}
}
@media (max-width: 850px){
.fto_logo{
margin: auto;
}
h1{
font-size: 40px;
}
}
@media (max-width: 807px){
.headline_main{
padding-bottom: 24px;
padding-top: 24px;
}
#content{
height: auto;
}
}
@media (max-width: 635px) {
main{
height: auto;
}
#content{
height: auto;
}
}
@media (max-width: 543px) {
.headline_main{
padding-top: 40px;
}
h1{
font-size: 32px;
}
.single_img img{
width: 280px;
height: 220px;
}
dialog .single_img img{
width: 280px;
height: 220px;
}

}
@media(max-width: 450px){
h1{
font-size: 24px;
}
}